/******************************************
/* BASE STYLES
/*******************************************/

body * {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 150%;
}

header {
  padding: 0;
}

section {
  margin: 3% 0;
}

ul, li {
  list-style-type: none;
  display: inline;
}

nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-left {
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

.standout-box {
  background: black;
  color: white;
  text-align: center;
  padding: 3%;
}

.button-primary {
  background: white;
  color: black;
  padding: 10px;
}

.button-secondary {
  background: black;
  color: white;
  padding: 10px;
}

.deemphasize {
  font-size: x-small;
}

.center {
  text-align: center;
}

.indent-light > * {
  margin-left: 2%;
}

.icon {
  height: 50px;
}

h1, h4 {
  color: white;
  font-weight: normal;
}

strong {
  font-size: 2rem;
}

#logo {
  font-family: 'Kaushan Script', cursive;
}

/******************************************
/* LAYOUT
/*******************************************/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 2rem 0; /* Place content down from the top */
  margin: 2rem 0; /* Place content down from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background: white;
  display: flex;
  flex-direction: column;
}

/* The navigation menu links */
.sidenav a {
  padding: .5rem .5rem .5rem 2rem;
  transition: 0.3s;
}

.closebtn {
  font-size: 2rem;
}

.first-visit {
  width: 150px;
}

.col-1-2,
.col-1-3 {
  text-align: center;
}

.color-day-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #EDEBEC;
}

.monentum {
  background: #EDEBEC;
  text-align: center;
}

.color-day-offer > img {
  /* height: auto; */
  max-height: 200px;
  /* align-items: flex-end; */
}

.beauticians img {
  height: 400px;
  padding: 0 5px;
}

.b-name {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -1.8rem;
}

.lookbook img {
  object-fit: contain;
}

.lookbook {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

.pad-left {
  padding-left: 3px;
}

.pad-bottom {
  padding-bottom: 3px;
}

.image-short {
  max-height: 30%;
  width: auto;
}

.image-long {
  max-height: 70%;
  width: auto;
}

#unicorn {
  background-image: url("../images/unicorn-hair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh; /* 50vh auto */
}

@media (min-width: 1000px) {
  body > * {
    /* width: 100%; */
    padding: 0 10%;
  }

  header {
    width: 80%;
    text-align: center;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-content: center; */
    
  }
  .sidenav {
    position: unset;
    right: unset;
    top:unset;
    z-index: unset;
    overflow-x: unset;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0; 
  }

  #mySidenav {
    width: 100%;
  }

  .closebtn {
    display: none;
  }

  #menu-icon {
    display: none;
  }

  .col-1-2 {
    width: 50%;
  }
  
  .col-1-3 {
    /* width: 33.3333%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main {
    padding: 0 !important;
  }

  .color-day-offer {
    padding: 0;
    margin: 0 10%;
  }

  .monentum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .monentum .col-1-2 * {
    text-align: left;
  }

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/








/* Testing purposes */
/* body * {
  border: 1px dotted black;
} */
